h1 {
    font-size:xx-large;
    text-align: center;
    font-family:fantasy;
    color: brown;
}
p {
    color: chocolate;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}
a {
    color:brown;
}
img {
    border: 10px solid brown;
    width: 640px;
    height: 362px;
}
table, th, td {
    border: 1px solid;
    text-align: center;
}
th {
    font-weight:bold;
}