h1 {
    font-size:xx-large;
    text-align: center;
    font-family:fantasy;
    color: brown;
}
p {
    color: chocolate;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}
a {
    color:brown;
}
h2 {
    color: brown;
}
img {
    border: 10px solid brown;
    width: 576px;
    height: 325.8px;
}
table, th, td {
    border: 1px solid;
    text-align: center;
}
th {
    font-weight:bold;
    color: crimson;
}
body {
    background-color:bisque;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.vasakpoolne {
    text-align: center;
}
.parempoolne {
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.roman {
    display: inline-block;
    text-align: left;
}